.container__form{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;

}

.container__cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}